@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.container {
  display: flex;
  height: calc(100vh - $header-height);
  background-color: $color-background;

  @include respond-below(lg) {
    flex-direction: column;
  }
}

.mainContent {
  flex: 1;
  @include flex-column;
  padding: $spacing-6;
  overflow: hidden;

  @include respond-below(md) {
    padding: $spacing-4;
  }
}

.headerSection {
  text-align: left;
  margin-bottom: $spacing-4;
}

.heading {
  @include heading-2;
  font-size: $font-size-lg;
  margin-bottom: $spacing-1;
}

.subHeading {
  @include small-text;
  color: $color-text-tertiary;
}

.botSection {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  margin-bottom: $spacing-8;
  padding: $spacing-8 0;
}

.botImage {
  height: 240px;
  width: 240px;
  margin-bottom: $spacing-4;

  @include respond-below(md) {
    height: 180px;
    width: 180px;
  }
}

.botTitle {
  @include heading-3;
  margin-bottom: $spacing-2;
}

.botDescription {
  @include small-text;
  max-width: 400px;
}

.chatScroll {
  flex: 1;
  overflow-y: auto;
  margin-bottom: $spacing-4;
  padding-right: $spacing-2;

  @include custom-scrollbar;
}

.chatInputWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.rightPanel {
  width: 400px;
  background-color: $color-background;
  border-left: $border-width-thin solid $color-border;
  padding: $spacing-6;
  overflow-y: auto;
  transition: all $transition-duration-base $transition-timing-ease;

  @include custom-scrollbar;

  @include respond-below(lg) {
    width: 100%;
    border-left: none;
    border-top: $border-width-thin solid $color-border;
    max-height: 400px;
  }
}

.modelComparisonView {
  background-color: #F0F4F9;
  width: 80 0px;

  @include respond-below(lg) {
    width: 100%;
  }
}

.modelComparisonPanel {
  background-color: transparent;
}

.bottomActions {
  display: flex;
  justify-content: center;
  gap: $spacing-3;
  margin: $spacing-6 0 $spacing-4;
  flex-wrap: wrap;
  
  @include respond-below(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.actionButton {
  min-width: 180px;
  padding: 10px 24px;
  border: 1.5px solid #D0D0D0;
  border-radius: 24px;
  text-transform: none;
  font-size: 15px;
  font-weight: $font-weight-normal;
  color: #333;
  background-color: #FFFFFF;
  transition: all $transition-duration-base $transition-timing-ease;
  
  &:hover {
    border-color: #999;
    background-color: #F9F9F9;
  }
  
  svg {
    width: 20px;
    height: 20px;
    color: #666;
  }
  
  @include respond-below(sm) {
    width: 100%;
    max-width: 300px;
  }
}