.pipelineBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  
    select {
      border-radius: 8px;
      padding: 10px;
    }
  
    .createBtn {
      background-color: #1976d2;
      color: #fff;
      font-weight: 600;
      border-radius: 8px;
      padding: 10px;
    }
}