@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.home {
  @include flex-center;
  position: relative;
  min-height: calc(100vh - $header-height);
  padding: $spacing-10 $spacing-16;
  background-color: $color-background-tertiary;

  @include respond-below(lg) {
    padding: $spacing-8 $spacing-10;
  }

  @include respond-below(md) {
    padding: $spacing-6 $spacing-8;
  }

  @include respond-below(sm) {
    padding: $spacing-5 $spacing-4;
  }

  :global(._content_14je3_63) {
    padding: 0;
    text-align: center;
    background-color: $color-background;
  }
}

.cards {
  display: flex;
  gap: $spacing-5;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  :global(._card_14je3_19) {
    padding: $spacing-4;

    :global(._image_14je3_51) {
      width: 60%;
      height: 60%;
      margin: 0 auto;
      object-fit: cover;
      background-color: unset;
    }
  }
}
