@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.documentSection {
  .panelTitle {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-2;
    color: $color-text-primary;
  }
}

.docItem {
  @include flex-between;
  align-items: center;
  padding: $spacing-2 0;
  font-size: $font-size-sm;
  border-bottom: $border-width-thin solid $color-border-light;

  &:last-child {
    border-bottom: none;
  }

  :global(.MuiIconButton-root) {
    color: $color-primary;
    padding: $spacing-1;

    &:hover {
      background-color: rgba($color-primary, 0.1);
    }
  }
}
