@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.chatResponse {
  margin-bottom: $spacing-6;
}

.botHeader {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.brandRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 14px;
  width: auto;
}

.brand {
  font-size: 16px;
  font-weight: $font-weight-semibold;
  color: #1976D2;
  letter-spacing: 0.5px;
}

.refreshBtn {
  color: #1976D2;
  padding: $spacing-1;
  
  &:hover {
    background-color: rgba(25, 118, 210, 0.08);
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
}

.botContent {
  color: #333;
  
  p {
    margin: 0 0 $spacing-2;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  strong {
    font-weight: $font-weight-semibold;
  }
  
  ul, ol {
    margin: $spacing-2 0;
    padding-left: $spacing-5;
  }
  
  li {
    margin-bottom: $spacing-1;
  }
}