@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: calc(100vh - $header-height);
  padding: $spacing-10 $spacing-16;
  
  @include respond-below(lg) {
    padding: $spacing-8 $spacing-10;
  }
  
  @include respond-below(md) {
    padding: $spacing-6 $spacing-8;
    align-items: center;
    text-align: center;
  }
  
  @include respond-below(sm) {
    padding: $spacing-5 $spacing-4;
  }
}

.header {
  @include flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: $spacing-8;
  padding-top: $spacing-24;
  
  @include respond-below(md) {
    padding-top: $spacing-16;
    margin-bottom: $spacing-6;
  }
  
  @include respond-below(sm) {
    padding-top: $spacing-12;
  }
}

.title {
  @include heading-1;
  margin-bottom: $spacing-3;
  text-align: left;
  
  @include respond-below(lg) {
    font-size: $font-size-2xl;
  }
  
  @include respond-below(md) {
    font-size: $font-size-xl;
    text-align: center;
  }
}

.tagline {
  font-size: $font-size-lg;
  color: $color-text-secondary;
  margin-bottom: $spacing-8;
  text-align: left;
  max-width: 600px;
  
  @include respond-below(md) {
    font-size: $font-size-base;
    text-align: center;
    margin-bottom: $spacing-6;
  }
  
  @include respond-below(sm) {
    font-size: $font-size-sm;
  }
}