@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: $spacing-6;
  
  @include custom-scrollbar;
}