@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.tabs {
    display: flex;
    gap: 16px;
  }
  
  .tab {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 12px;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #1976d2;
  }

  button{
    border-radius: unset;
  }