@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.pipelineSection {
  margin-bottom: $spacing-6;
}

.panelTitle {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-2;
  color: $color-text-primary;
}

.pipelineSelect {
  margin-bottom: $spacing-4;

  :global(.MuiSelect-root) {
    border-radius: $border-radius-md;
  }
}

.createPipelineBtn {
  background-color: $color-primary;
  color: $color-white;
  font-weight: $font-weight-semibold;
  border-radius: $border-radius-md;
  padding: $spacing-3;
  margin-bottom: $spacing-6;
  transition: $transition-colors;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }
}
