.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
  
    h4 {
      color: var(--app-primary);
    }
  }
  