@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.footerActions {
    display: flex;
    
    button {
        svg {
            width: .75em;
            height: .75em;
            margin: 0;  
        }
    }
}